<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="30010">
        <setting label="30101" id="wsuser" type="text" default="" />
        <setting label="30102" id="wspass" type="text" default="" option="hidden" />
    </category>
    <category label="30020">
        <setting label="30201" id="subtitles" type="bool" default="false" />
        <setting type="sep" />
        <setting label="30202" id="subtitles.utf" type="bool" enable="!eq(-2,false)" default="false" />
        <setting type="sep" />
        <setting label="30203" id="subtitles.lang.1" type="select" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-4,false)" default="Czech" />
        <setting label="30204" id="subtitles.lang.2" type="select" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-5,false)" default="Slovak" />
        <setting type="lsep" label="[CR]" />
        <setting type="lsep" label="39001" />
        <setting type="lsep" label="39002" />
    </category>
    <category label="30030">
        <setting label="30301" id="downloads" type="folder" default="" />
        <setting label="30302" id="download-notify" type="bool" default="true" />
        <setting label="30303" id="download-notify-every" type="enum" lvalues="30311|30312|30313" default="0" visible="eq(-1,true)" />
    </category>
    <setting label="" id="uid" type="text" default="" visible="false" />
</settings>
